body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face { 
  font-family: 'dogica'; src: url('./assets/font/dogica.ttf'); 
} 

@font-face { 
  font-family: 'dogicabold'; src: url('./assets/font/dogicabold.ttf'); 
} 


#background {
  height: 100vh;
  background-image: url('./assets/dungeon-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px !important;
}

.login-box {
  font-family: 'dogicabold';
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  height: 400px;
  background-color: rgba(255,255,255, 0.5)
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
}

#monster-card {
  display: flex;
  background-color: burlywood;
}

#battle-scene-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#question-box {
  display: flex;
  flex-direction: column;
}

#battle-scene-buttons {
  display: flex;
  justify-content: space-between;
}

.mt-60 {
  margin-top: 60%;
}

.center {
  margin: 0 auto;
}

.ml-45 {
  margin-left: 45%;
}

.title{
  width: 100%;
  text-align: center;
}


.bg-white-op-75 {
  width: 35%;
  background-color: rgba(255,255,255, 30);
}

.w-200 {
  height: 30px;
}
